<div class="row">

  <div class="col-md-6 signup-container">
    <h2 style="margin: auto">Signup </h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" [disabled]="saved" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="registerForm.controls['username'].hasError('required') && registerForm.controls['username'].touched">Username is required</div>
		<div class="error" *ngIf="registerForm.controls['username'].hasError('username') && registerForm.controls['username'].touched">Username is Already taken</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" [disabled]="saved" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="registerForm.controls['password'].hasError('required') && registerForm.controls['password'].touched">Password is required</div>
      </div>
      <button class="btn btn-success" [disabled]="registerForm.invalid">Register</button>
	  
      <div *ngIf="internalError" class="error">
        <div>Internal Error</div>
      </div>
    </form>
	<a routerLink="../signin">Signin</a>
  </div>
</div>